<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>
<body>
<div align="right" th:fragment="logout" sec:authorize="isAuthenticated()">
    <span sec:authentication="name">admin</span> |
    Roles: <span sec:authentication="principal.authorities">admin</span> |
    <form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>
</div>
</body>
</html>