<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User panel</title>
    <link th:href="@{/resources/css/carList.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/teg_a.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/paging.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div align="center" th:fragment="logout" sec:authorize="isAuthenticated()">
    <span sec:authentication="name">user</span> |
    <span sec:authentication="principal.authorities">user</span> |
    <form th:action="@{/logout}" method="post"><input type="submit" value="Logout"/></form>
</div>
<div align="center" th:each="car : ${carList}">
    <div id="avrDiv" class="warning">
        <a th:href="@{/user/car/{id}.html(id=${car.id})}">
            <div align="center">
                <img th:src="${car.imageCarList.get(0).image.equals('')} ?
                    @{/resources/img/noAuto.png} : ${'data:image/jpeg;base64,'+{car.imageCarList.get(0).image}}">
            </div>
            <p th:text="${car.name}"></p>
            <div align="center">
                year: <span th:text="${car.year}"></span><br>
                engine description: <span th:text="${car.engineDescription}"></span><br>
                transmission: <span th:text="${car.transmission}"></span><br>
                price: <span th:text="${car.price}"></span><br><br>
            </div>
        </a>
    </div><br>
</div>
<div class="center">
    <div class="pagination">
        <a th:text="${currentPage > 1} ? '&laquo;':''"
           th:href="${currentPage == 1} ? '' : @{/user/{count}.html(count=${currentPage-1})}"></a>
        <a th:each="i : ${#numbers.sequence(startPage, endPage)}"
           th:href="@{/user/{i}.html(i=${i})}"
           th:class="${i==currentPage && numberOfPages > 1} ? 'active'"
           th:text="${numberOfPages < 2} ? '': ${i}"></a>
        <a th:text="${currentPage < numberOfPages} ? '&raquo;':''"
           th:href="${currentPage < numberOfPages} ? @{/user/{count}.html(count=${currentPage+1})}"></a>
    </div>
</div>
</body>
</html>