<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
    <link th:href="@{/resources/css/button.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/teg_a.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments::logout"></div>
<p align="center">ORDER</p>
<br>
<span th:text="${car.id}"></span><br>
<span th:text="${car.name}"></span><br>
<span th:text="${car.year}"></span><br>
<span th:text="${car.engineDescription}"></span><br>
<span th:text="${car.transmission}"></span><br>
<span th:text="${car.price}"></span><br>
</body>
</html>