<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>
<body>

<form th:fragment="logout" sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}" class="form-center">
    <button class="b-class" type="submit">
        logout: <span sec:authentication="name"></span>
    </button>
</form>

<p th:fragment="login" sec:authorize="isAuthenticated()==false" class="p-class">
    <a th:href="@{/login.html}">
        <button class="b-class">login</button>
    </a>
</p>

<p th:fragment="registration" sec:authorize="isAuthenticated()==false" class="p-class">
    <a th:href="@{/registration.html}">
        <button class="b-class">sing up</button>
    </a>
</p>

<p th:fragment="addCar" sec:authorize="hasRole('ROLE_ADMIN')" class="p-class">
    <a th:href="@{/admin/add/car.html}">
        <button class="b-class">add car</button>
    </a>
</p>

<p th:fragment="showUserList" sec:authorize="hasRole('ROLE_ADMIN')" class="p-class">
    <a th:href="@{/admin/showUserList.html}">
        <button class="b-class">edit/view users</button>
    </a>
</p>

<p th:fragment="showOrderList" sec:authorize="hasRole('ROLE_ADMIN')" class="p-class">
    <a th:href="@{/admin/showOrderList.html}">
        <button class="b-class">edit/view orders</button>
    </a>
</p>

<p th:fragment="showPaymentList" sec:authorize="hasRole('ROLE_ADMIN')" class="p-class">
    <a th:href="@{/admin/showPaymentsList.html}">
        <button class="b-class">edit/view payments</button>
    </a>
</p>

<p th:fragment="returnToCarList" class="p-class">
    <a th:href="@{/}">
        <button class="b-class">return to carList</button>
    </a>
</p>

<p th:fragment="createOrder" sec:authorize="isAuthenticated()" class="p-class">
    <a th:href="@{/order/create/car/{id}.html(id=${car.id})}">
        <button class="b-class">create order</button>
    </a>
</p>

<p th:fragment="completeOrder" sec:authorize="isAuthenticated()" class="p-class">
    <a th:href="@{/order/complete/car/{id}.html(id=${car.id})}">
        <button class="b-class">complete order</button>
    </a>
</p>

<p th:fragment="deleteCar" sec:authorize="hasRole('ROLE_ADMIN')" class="p-class">
    <a th:href="@{/admin/delete/car/{id}.html(id=${car.id})}">
        <button class="b-class">delete car</button>
    </a>
</p>

<p th:fragment="deleteUser" sec:authorize="hasRole('ROLE_ADMIN')" class="p-class">
    <a th:href="@{/admin/delete/user/{id}.html(id=${user.id})}">
        <button class="b-class">delete user</button>
    </a>
</p>

<p th:fragment="deleteOrder" sec:authorize="hasRole('ROLE_ADMIN')" class="p-class">
    <a th:href="@{/admin/delete/order/{id}.html(id=${order.id})}">
        <button class="b-class">delete order</button>
    </a>
</p>

<p th:fragment="returnToUserList" sec:authorize="hasRole('ROLE_ADMIN')" class="p-class">
    <a th:href="@{/admin/showUserList.html}">
        <button class="b-class">return to userList</button>
    </a>
</p>

<p th:fragment="editUserData" sec:authorize="hasRole('ROLE_USER')" class="p-class">
    <a th:href="@{/user/editUserData.html}">
        <button class="b-class">edit user data</button>
    </a>
</p>
</body>
</html>