<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>
<body>

<div class="container" th:fragment="logout" sec:authorize="isAuthenticated()">
    <form class="form-signin" method="post" th:action="@{/logout}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            logout: <span sec:authentication="name"></span>
        </button>
    </form>
</div>

<div class="container" th:fragment="login" sec:authorize="isAuthenticated()==false">
    <a th:href="@{/login.html}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            login
        </button>
    </a>
    <br>
</div>

<div class="container" th:fragment="registration" sec:authorize="isAuthenticated()==false">
    <a th:href="@{/registration.html}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            registration
        </button>
    </a>
</div>

<div class="container" th:fragment="administration" sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/add/car.html}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            add car
        </button>
    </a>
    <p></p>
    <a th:href="@{/admin/showUserList.html}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            edit/view users
        </button>
    </a>
    <p></p>
    <a th:href="@{/admin/showOrderList.html}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            edit/view orders
        </button>
    </a>
    <p></p>
    <a th:href="@{/admin/showPaymentsList.html}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            edit/view payments
        </button>
    </a>
</div>

<div class="container" th:fragment="returnToCarList">
    <a th:href="@{/}"> <!-- onclick="javascript:history.back(-2); return false;" -->
        <button class="btn btn-lg btn-primary btn-block form-signin">
            return to carList
        </button>
    </a>
</div>

<div class="container" th:fragment="createOrder" sec:authorize="isAuthenticated()">
    <a th:href="@{/order/create/car/{id}.html(id=${car.id})}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            order
        </button>
    </a>
</div>

<div class="container" th:fragment="completeOrder" sec:authorize="isAuthenticated()">
    <a th:href="@{/order/complete/car/{id}.html(id=${car.id})}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            complete order
        </button>
    </a>
</div>

<div class="container" th:fragment="deleteCar" sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/delete/car/{id}.html(id=${car.id})}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            delete
        </button>
    </a>
</div>

<div class="container" th:fragment="deleteUser" sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/delete/user/{id}.html(id=${user.id})}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            delete
        </button>
    </a>
</div>

<div class="container" th:fragment="deleteOrder" sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/delete/order/{id}.html(id=${order.id})}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            delete
        </button>
    </a>
</div>

<div class="container" th:fragment="returnToUserList" sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/showUserList.html}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            return to userList
        </button>
    </a>
</div>
<div class="container" th:fragment="editUserData" sec:authorize="hasRole('ROLE_USER')">
    <a th:href="@{/user/editUserData.html}">
        <button class="btn btn-lg btn-primary btn-block form-signin">
            edit user data
        </button>
    </a>
</div>
</body>
</html>