<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
<div align="center">
    <form method="post" action="/rent/registration.html">

        <label for="username">username: </label><br>
        <input type="text" id="username" name="username" placeholder="username" required><br>

        <label for="password">password: </label><br>
        <input type="password" id="password" name="password" placeholder="password" required><br>

        <label for="confirmPassword">confirm password: </label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirm password" required><br>

        <br>
        <input type="submit">
    </form>
</div>
</body>
</html>