<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OrderList panel</title>
    <link th:href="@{/resources/css/table.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/button.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/teg_a.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/resources/js/update.js}"></script>
</head>
<body>
<p th:replace="~{fragments::logout}"></p>
<h3 align="center"><strong>OrderList panel</strong></h3>
<p th:replace="~{fragments::returnToCarList}"></p>
<h3 align="center"><strong>Description orders</strong></h3> <!--fixme hide if null-->
<table class="rounded" align="center" >
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Car</th>
        <th>Date order</th>
        <th>Date complete order</th>
        <th>Time in order</th>
        <th>Is paid?</th>
        <th>Show</th>
    </tr>
    <tr th:each="order : ${orderList}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.user} ? ${order.user.username}:'user does not exist'"></td>
        <td th:text="${order.car} ? ${order.car.name}:'car does not exist'"></td>
        <td th:text="${order.dateOrder}"></td>
        <td th:text="${order.dateCompleteOrder} ? ${order.dateCompleteOrder}:'not completed'"></td>
        <td th:text="${order.timeInOrder}"></td>
        <td th:text="${order.isPayment == 0} ? 'paid':'not paid'"></td>
        <td>
            <a th:href="@{/admin/order/{id}.html(id=${order.id})}">
                <button>show</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>