<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment panel</title>
    <link th:href="@{/resources/css/button.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/teg_a.css}" rel="stylesheet" type="text/css">
</head>
<body>
<p th:replace="~{fragments::logout}"></p>
<h3 align="center">Payment panel</h3>
<p th:replace="~{fragments::returnToCarList}"></p>
<h3 align="center">amount due: <span th:text="${sumToPay}"></span> points</h3> <!--FIXME-->
<div align="center">
    <form th:action="@{/payment/complete.html}" method="post">
        <label for="cardNumber">Card number: </label><br>
        <input type="text" id="cardNumber" name="cardNumber" placeholder="card number" required><br>

        <label for="month">Month: </label><br>
        <input type="number" id="month" name="month" placeholder="month" min="1" max="12" required><br>

        <label for="year">Year: </label><br>
        <input type="number" id="year" name="year" placeholder="year" min="2022" max="2030" required><br>

        <label for="nameOfCard">Name at the card: </label><br>
        <input type="text" id="nameOfCard" name="nameOfCard" placeholder="Name at the card" required><br>

        <label for="securedCode">Secured code: </label><br>
        <input type="number" id="securedCode" name="securedCode" placeholder="secured code" min="100" max="999" required><br><br>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="submit" value="pay">
    </form>
</div>
</body>
</html>