<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order panel</title>
    <link th:href="@{/resources/css/table.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/button.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/teg_a.css}" rel="stylesheet" type="text/css">
</head>
<body>
<p th:replace="~{fragments::logout}"></p>
<h3 align="center"><strong>Order panel</strong></h3>
<p th:replace="~{fragments::deleteOrder}"></p>
<p th:replace="~{fragments::returnToCarList}"></p>
<h3 align="center"><strong>Order</strong></h3>
<table class="rounded" align="center">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Car</th>
        <th>Date order</th>
        <th>Date complete order</th>
    </tr>
    <tr>
        <td th:text="${order.id}"></td>
        <td th:text="${order.user == null} ? 'user does not exist':${order.user.username}"></td>
        <td th:text="${order.car == null} ? 'car does not exist':${order.car.name}"></td>
        <td th:text="${order.dateOrder}"></td>
        <td th:text="${order.dateCompleteOrder} ? ${order.dateCompleteOrder}:'not completed'"></td>
    </tr>
</table>
</body>
</html>