<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Car panel</title>
    <link th:href="@{/resources/css/car.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/teg_a.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/table.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/button.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1 align="center" th:text="${car.name}"></h1>
<div th:replace="fragments::logout"></div>
<div th:replace="fragments::createOrder"></div>
<div th:replace="fragments::completeOrder"></div>
<div th:replace="fragments::deleteCar"></div>
<div th:replace="fragments::returnToCarList"></div>
<div align="center" id="main">
    <div id="avrDiv" class="warning" th:each="carImage : ${car.imageCarList}">
        <img th:src="${carImage.image.equals('')} ?
             @{/resources/img/noAuto.png} : ${'data:image/jpeg;base64,'+{carImage.image}}">
    </div>
</div>

<h3 align="center"><strong>Description car</strong></h3>
<table class="rounded" align="center">
    <tr>
        <th>Release date</th>
        <th>Engine description</th>
        <th>Type transmission</th>
        <th>Price per day</th>
        <th>Is ordered</th>
    </tr>
    <tr>
        <td th:text="${car.year}"></td>
        <td th:text="${car.engineDescription}"></td>
        <td th:text="${car.transmission}"></td>
        <td th:text="${car.price}"></td>
        <td th:text="${car.isOrdered == 1} ? 'unavailable':'available'"></td>
    </tr>
</table>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <h3 align="center">Edit car panel</h3>
    <div align="center">
        <form th:action="@{/admin/edit/car/{id}.html(id=${car.id})}" method="post" enctype="multipart/form-data">
            <label for="name">Name car: </label><br>
            <input type="text" id="name" name="name" th:value="${car.name}"><br>

            <label for="year">Year car: </label><br>
            <input type="number" id="year" name="year" th:value="${car.year}"><br>

            <label for="engineDescription">Engine Description: </label><br>
            <input type="text" id="engineDescription" name="engineDescription" th:value="${car.engineDescription}"><br>

            <label for="transmission">Type transmission: </label><br>
            <input type="text" id="transmission" name="transmission" th:value="${car.transmission}"><br>

            <label for="price">Price: </label><br>
            <input type="number" id="price" name="price" th:value="${car.price}" min="1" step="0.01"><br>

            <label for="images">images: </label><br>
            <input type="file" id="images" multiple name="images"><br><br>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="submit" value="send">
        </form>
    </div>
</div>
</body>
</html>